<div class="text-center mt-3">
  <h2>Your matches - {{ pagination?.totalItems }} found</h2>
</div>

<div *ngIf="userParams" class="container mt-3">
  <form #form="ngForm" (ngSubmit)="loadMembers()" autocomplete="off" class="d-flex mb-3">
    <div class="d-flex mx-2">
      <label class="col-form-label">Age from: </label>
      <input
        [(ngModel)]="userParams.minAge"
        class="form-control ms-1"
        name="minAge"
        style="width: 70px"
        type="number">
    </div>
    <div class="d-flex mx-2">
      <label class="col-form-label">Age to: </label>
      <input
        [(ngModel)]="userParams.maxAge"
        class="form-control ms-1"
        name="maxAge"
        style="width: 70px"
        type="number">
    </div>
    <div class="d-flex px-2">
      <label class="col-form-label me-2">Show: </label>
      <select
        [(ngModel)]="userParams.gender"
        class="form-select ms-1"
        name="gender"
        style="width: 150px">
        <option *ngFor="let gender of genderList" [value]="gender.value">
          {{ gender.display }}
        </option>
      </select>
    </div>

    <button class="btn btn-primary ms-1" type="submit">Apply Filters</button>
    <button (click)="resetFilters()" class="btn btn-info ms-1">Reset Filters</button>

    <div class="col">
      <div class="btn-group float-end">
        <button
          (click)="loadMembers()"
          [(ngModel)]="userParams.orderBy"
          btnRadio="lastActive"
          class="btn btn-primary"
          name="orderBy"
          type="button"
        >
          Last Active
        </button>
        <button
          (click)="loadMembers()"
          [(ngModel)]="userParams.orderBy"
          btnRadio="created"
          class="btn btn-primary"
          name="orderBy"
          type="button"
        >
          Newest Members
        </button>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div *ngFor="let member of members" class="col-2">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div *ngIf="pagination" class="d-flex justify-content-center">
  <pagination
    (pageChanged)="pageChanged($event)"
    [(ngModel)]="pagination.currentPage"
    [boundaryLinks]="true"
    [itemsPerPage]="pagination.itemsPerPage"
    [maxSize]="10"
    [totalItems]="pagination.totalItems"
    firstText="&laquo;"
    lastText="&raquo;"
    nextText="&rsaquo;"
    previousText="&lsaquo;"
  >
  </pagination>
</div>
