<div *ngIf="member" class="row">

  <div class="col-4">
    <div class="card">
      <img alt="{{ member.knownAs }}" class="card-img-top img-thumbnail"
           src="{{ member.photoUrl  || './assets/user.png' }}">
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{ member.city }}, {{ member.country }}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{ member.age }}</p>
        </div>
        <div>
          <strong>Last active:</strong>
          <p>{{ member.lastActive + 'Z' | timeago }}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{ member.created | date: 'd MMMM yyyy' }}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button (click)="addLike(member)" class="btn btn-primary">Like</button>
          <button class="btn btn-success">Messages</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-8">
    <tabset #memberTabs class="member-tabset">
      <tab (selectTab)="onTabActivated($event)" heading="About {{ member.knownAs }}">
        <h4>Description</h4>
        <p>{{ member.introduction }}</p>
        <h4>Looking for</h4>
        <p>{{ member.lookingFor }}</p>
      </tab>
      <tab (selectTab)="onTabActivated($event)" heading="Interests">
        <h4>Interests</h4>
        <p>{{ member.interests }}</p>
      </tab>
      <tab #photoTab="tab" (selectTab)="onTabActivated($event)" heading="Photos">
        <gallery *ngIf="photoTab.active" [items]="images" class="gallery"/>
      </tab>
      <tab (selectTab)="onTabActivated($event)" heading="Messages">
        <app-member-messages [messages]="messages" [username]="member.username"/>
      </tab>
    </tabset>
  </div>

</div>
