<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>
  <div class="mb-3">
    <input
      [(ngModel)]="model.username"
      class="form-control"
      name="username"
      placeholder="Username"
      type="text">
  </div>
  <div class="mb-3">
    <input
      [(ngModel)]="model.password"
      class="form-control"
      name="password"
      placeholder="Password"
      type="password">
  </div>
  <div class="text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button (click)="cancel()" class="btn btn-default" type="button">Cancel</button>
  </div>
</form>
